<p>
  <%= @product.name %>
</p>
<p>
  <%= number_to_currency @product.price %>
</p>
<p>
  <%= @product.description %>
</p>
<p>
  <%= image_tag @product.image.url %>
</p>

<%= link_to "Showroom", showroom_products_path(current_showroom) %>
