<!DOCTYPE html>
<html>
  <head>
    <title>Estore</title>
    <%= stylesheet_link_tag 'main' %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>

    <%= render :partial => 'shared/user_navigation.html' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
